* {
  margin: 0;
  padding: 0;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.header-video-section {
  height: 100vh;
  width: 100vh;
}

.divider {
  border-bottom: 1px solid gray;
}

.assista {
  font-size: 2em;
}

header p {
  font-size: 1.2em;
}

@media screen and (max-width: 768px) {
  .header-video-section {
    background-image: url('./images/celular.jpeg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin: 0;
  }

  video {
    display: none;
  }

  .frase {
    font-size: 1.6em;
  }

  .assista {
    font-size: 1.7em;
  }
}